<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162012907422-4uhb4v94hka1db4ebhum8a1ab0nkg58a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162012907422-4uhb4v94hka1db4ebhum8a1ab0nkg58a</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0AZsgB3gvXAOBZ2axh_ITtqD7x3LACc</string>
	<key>GCM_SENDER_ID</key>
	<string>162012907422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-lab-firebas-87479</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lab-firebas-87479.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162012907422:ios:59d6a618f99338a9a0788f</string>
</dict>
</plist>